@model List<ExcelApp.Models.ExcelModel>
<form>
    <table>
        <thead>
            <tr class="table-active">
                <th>Identity</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Mobile</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Identity</td>
                        <td>@item.FirstName</td>
                        <td>@item.Surname</td>
                        <td>@item.Age</td>
                        <td>@item.Sex</td>
                        <td>@item.Mobile</td>
                        <td>@item.Active</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Home" asp-action="Edit" asp-route-id=@item.Identity class="btn btn-primary">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            No Data Available, Please upload!!!!
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>