<form asp-controller="Home" asp-action="Import">

    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <input type="file" id="fileupload" name="files" class="form-control" />

            </div>

            <div class="col-md-3">

                <input type="button" name="Upload" value="Upload" id="btnupload" class="btn btn-primary" />

            </div>

        </div>

        <div class="clearfix">&nbsp;</div>

        <div class="row">

            <div id="divPrint"></div>

        </div>

    </div>

</form>

@model List<ExcelApp.Models.ExcelModel>
<form>
    <table class="table table-responsive  table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th>Identity</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Sex</th>
                <th>Mobile</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Identity</td>
                        <td>@item.FirstName</td>
                        <td>@item.Surname</td>
                        <td>@item.Age</td>
                        <td>@item.Sex</td>
                        <td>@item.Mobile</td>
                        <td>@item.Active</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Home" asp-action="UpdateData" asp-route-id=@item.Identity class="btn btn-primary">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div id="data">
                            No Data Available, Please upload!!!!
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">

    $(function () {

        $('#btnupload').on('click', function () {

            var fileExtension = ['xls', 'xlsx', 'csv'];

            var filename = $('#fileupload').val();

            if (filename.length == 0) {

                alert("Please select a file.");

                return false;

            }

            else {

                var extension = filename.replace(/^.*\./, '');

                if ($.inArray(extension, fileExtension) == -1) {

                    alert("Please select only excel files.");

                    return false;

                }

            }

            var fdata = new FormData();

            var fileUpload = $("#fileupload").get(0);

            var files = fileUpload.files;

            fdata.append(files[0].name, files[0]);

            $.ajax({

                type: "POST",

                url: "/Home/Import",

                beforeSend: function (xhr) {

                    xhr.setRequestHeader("XSRF-TOKEN",

                        $('input:hidden[name="__RequestVerificationToken"]').val());

                },

                data: fdata,

                contentType: false,

                processData: false,

                success: function (data) {


                    setTimeout(function () {
                        alert("File Uploaded Successfully");
                        location.reload();
                    }, 5000);


                },

                error: function (e) {
                    $('#data').html(e.responseText);
                }

            });

        })



    });

</script>


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr:nth-child(even) {
        background-color: rgba(150, 212, 212, 0.4);
    }

    th:nth-child(even), td:nth-child(even) {
        background-color: rgba(150, 212, 212, 0.4);
    }
</style>